body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    background-color: lightsteelblue;
}

    header {
        position: fixed;
        top: 0;
        z-index: 2;
        height: 89px;
        width: 100%;
        background-color: #6495ED;
        color: #f8f8f8;
    }

header h1 {
    margin: 0;
    padding: 21px 20px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}

header ul {
    margin: auto;
    padding: 25px 20px;
    display: inline-block;
}

header li {
    font-size: 1.5em;
    display: inline-block;
    margin: 0px 10px;
}

@media only screen and (max-width: 1200px){
    header {
        font-size: 15px;
    }
    
    header li {
        font-size: 1.5em;
        display: inline-block;
        margin: 0px 10px;
    }
    
    }

    @media only screen and (max-width: 900px){
        header {
            font-size: 12px;
        }
        
        header li {
            font-size: 1.5em;
            display: inline-block;
            margin: 5px 10px;
        }

        header h1, header ul {
            margin: auto;
            padding: 5px;
            display: inline-block;
        }
        
        }

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

nav a:hover{
    background-color: #4169e1;
}

.flexbox-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.flexbox-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:left;
}

.colorbox {
    margin: 20px;
    min-height: 100px;
    width: 20%;
    border: 1px solid black;
    text-align: center;
}


.fontbox {
    padding: 15px;
    text-align: center;
    margin: 10px 15px 10px 10px;
    min-height: 100px;
    min-width: 30%;
    background-color: white;
    font-size: 17px;
    border: 1px dotted black;
}

#cool-blue {
    background-color: #2d5dcc;
    color: #fff;
  }
  
#blueviolet {
    background-color: #8A2BE2;
    color: #fff;
  }
  
#cornflowerblue {
    background-color: #6495ED;
    color: #fff;
  }
  
#lightblue {
    background-color: #ADD8E6;
    color: #fff;
  }

#wsw-blue {
    background-color: #003d77;
    color: #fff;
  }
  
#midnightblue {
    background-color: #191970;
    color: #fff;
  }
  
#lightsteelblue {
    background-color: #B0C4DE;
    color: #fff;
  }
  
#royalblue {
    background-color: #4169e1;
    color: #fff;
  }
  
#colors {
    margin: 95px auto 50px auto;
    width: 90%;
    border: 1px solid black;
    background-color: white;
}

.section {
    margin: 50px auto 50px auto;
    width: 90%;
    border: 1px solid black;
    background-color: white;
}

.title {
    width: 100%;
    border-bottom: 1px solid black;
    padding:20px 0px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: overline 2px dotted #191970;
    background-color: cornflowerblue;
    color:white;
}

.anchor {
        position: relative;
        left: 0px;
        top: -80px;
}

.font-label {
    font-size: 1.5rem;
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
}

.font-label:hover {
    background-color: #ADD8E6;
}

.regular {
    font-style: normal;
  }
  
  .italic {
    font-style: italic;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .source-code-pro {
    font-family: 'Source Code Pro', monospace;
  }
  
  .poppins {
    font-family: 'Poppins', sans-serif;
  }

  .tomorrow {
      font-family: 'Tomorrow', sans-serif;
  }

  .oswald {
    font-family: 'Oswald', Times, serif;
}

.franklin {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
  .text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
  }



.text-container {
    margin-left: 50px;  
}


.text-panel {
    margin: 20px;
  }

.border{
      padding:20px;
      border: 2px solid #008cba;
      border-radius: 3px;
  }

.text-color{
    color: #008cba;
}

.hover:hover {
    background-color: #008cba;
    color:white !important;
}

.button{
    margin: 60px 30px;
}

.no-deco{
    text-decoration: none;
}

.no-visited:visited{
    color: #008cba;
}

.red {
    background-color: #8A2BE2;
    color:white !important;
    border: 2px solid black;
    padding:20px;
    border-radius: 3px;
}

.round {
    border-radius: 100%;
}

.transition {
    transition-duration: 0.4s;
}

.shadow:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.opacity{
    background-color: #008cba;
    padding:20px;
    border: 2px solid #008cba;
    border-radius: 3px;
    opacity: 0.6;
    color:white;
    text-align: center;
    font-size: 16px;
}

.opacity:hover {
    opacity: 1;
}
